* {
    text-align: center;
}

h1 {
    color: rgb(14, 14, 77);
    background-color: rgb(124, 124, 124);
    text-align: center;
    
}

h3 {
    color: rgb(128, 6, 128);
    font-size: 50px;
}

h2 {
    color: rgb(40, 40, 180);
    background-color: rgb(158, 156, 156);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*TODOS LOS COMENTARIOS NECESITO*/
button {
    color: black;
    background-color: white;
    border-radius: 10px;
    margin: 20px 20px;
    padding: 20px 20px;
    
}